
/.vs
/Сalculator/.vs
/Сalculator/Сalculator/bin
/Сalculator/Сalculator/obj
Сalculator/Сalculator/Сalculator.csproj
Сalculator/Сalculator.sln
/ReadFile/.vs
ReadFile/ReadFile.sln
ReadFile/ReadFile/App.config
ReadFile/ReadFile/bin/Debug/ReadFile.exe
/ReadFile/ReadFile/bin
/ReadFile/ReadFile/obj
ReadFile/ReadFile/ReadFile.csproj
ReadFile/TextRead.txt
